<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">Welcome to {{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
            <hr />
        </header>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2014</time> {{ site.author }}</p>
        </footer>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
	</body>

</html>